<br/>
<div align="center">
  <h1>RoR Assessment</h1>
  <p class="lead"><%= link_to "Rachel Bird's", "http://www.rachelbird.com", target: "_blank" %> technical assessment for the Ruby Developer position at Distil Networks</p>
          <div>
          <p><%= link_to "Create a new account", new_account_path %> </p>
          <p><%= link_to "Access an existing account and/or add a domain", accounts_path %> </p>
        </div>
  </p>
</div>