<br/>
<div align="center">
  <h1>RoR Assessment</h1>
  <p class="lead"><%= link_to "Rachel Bird's", "http://www.rachelbird.com", target: "_blank" %> technical assessment for the Ruby Developer position at Distil Networks</p>
  </p>
</div>

<h2 align="center">Accounts</h2>

<div class="row" align="center">
  <div>
    <% @accounts.each do |account| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to account.name, account_path(account) %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div>
    <%= link_to "Create New Account", new_account_path %>
  </div>
</div>

